<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kmtiworkstationvb.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <kmtiworkstationvb.My.MySettings>
            <setting name="dbConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sett_dbSource" serializeAs="String">
                <value />
            </setting>
            <setting name="sett_dbName" serializeAs="String">
                <value />
            </setting>
            <setting name="sett_dbUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="sett_dbPass" serializeAs="String">
                <value />
            </setting>
        </kmtiworkstationvb.My.MySettings>
    </userSettings>
</configuration>